.element__delete-button {
    max-width: 18px;
    height: 19px;
    width: 100%;
    background-image: url(../../../images/Delete.svg);
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 20px;
    right: 20px;
  }
  
  .element__delete-button:hover {
    opacity: .6;
    cursor: pointer;
  }